/ [if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]
/ [if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]
/ [if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]
/ [if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]
%html
  %head
    %title Beardcrumbs
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'width=device-width'}
    %link{ :rel => 'stylesheet', :href => 'css/style.css' }
    %script { :src => 'js/libs/modernizr-2.5.3.min.js' }
  %body
    =yield

